@font-face {
    font-family: 'IBMPlexSans';
    src: url('/static/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('/static/Merriweather.ttf') format('truetype');
}


body {
    background: #efefef;
    color: #464646;
}

article.post-content {
    color: #3c3c3c;
}

article.post-content a {
    color: #6834ab;
}

h1.blog-name {
  font-family: "Merriweather";
}

h1.blog-name a {
    color: #6834ab;
}

.header {
    border-bottom: 1px solid #3333333b;
    font-family: "IBMPlexSans";
}

.header #menu a {
    color: #6834ab;
    font-weight: bold;
}

.header #menu a:hover {
    text-decoration: underline;
    color: #6834ab;
}

i.post-date {
    color: #505050;
}

svg {
    fill: #6834ab;
}

pre code.hljs {
    background: #fff;
}
