@import "@synerty/peek-plugin-base-js/src/styles/_mixins";
@import "@synerty/peek-plugin-base-js/src/styles/_variables";

$height: calc(50vh);

.modal-open.modal {
    overflow-y: unset;
}

.modal-body {
    overflow-y: auto;
    max-height: 45vh;
}

.modal-dialog {
    padding: $general_padding_1;
    top: $title_bar_height;
}

.scroll-outer {
    max-height: $height;
    height: $height;
    overflow-y: scroll;
}
