
@import "@synerty/peek-plugin-base-js/src/styles/_variables";

:host {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.ant-card {
    width: 100%;

    .ant-card-head-wrapper {
        .ant-card-extra {
            display: flex;
            gap: $general_padding_1;
        }
    }
}

nz-input-number {
    width: 100%;
}

.password-input {
    width: 100%;
}