[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "scm-python-design-pattern"
version = "0.1.0"
description = "An jira server plugin Python project to use cli manage JIRA ISSUE"
authors = [
    { name = "Shao,ShunZhong", email = "tempestwin@163.com" }
]
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "requests>=2.31",
]

[project.optional-dependencies]
dev = [
    "pytest>=8.0",
    "pytest-cov",
    "ruff",
    "black",
]

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-ra -q --cov=src --cov-report=term-missing"
testpaths = [
    "tests",
]
pythonpath = [
    "scm_python_jira"
]
