.custom-save-button {
  margin:0
}
.custom-save-button .jp-ToolbarButtonComponent{
  margin:0 10px 0 0 !important
}

.usage-time-widget{
  margin:4px 10px 0 0
}

.ln-version-list-sidebar{
    font-size: 14px;
    padding:10px 0
}

.ln-version-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9ebf3;
  cursor: pointer;
  padding: 6px 10px;
  justify-content: space-between;
}

.ln-version-list-item__name{
  padding: 6px 0;
}

.ln-version-list-item__time{
  color: #999;
}

.ln-version-list-item__btn{
  color: #4194fc;
  font-size: 12px;
}


.ln-dataset-list-panel {
  border: 1px solid #e5e7eb;
  font-size: 12px;
}

.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.panel-header:hover {
  background-color: #e5e7eb;
}

.panel-title {
  font-weight: 500;
}

.icon {
  color: #6b7280;
}

.file-list {
  padding-left:0;
  list-style: none;
  margin: 0;
}

.file-item {
  cursor: pointer;
  padding: 8px 8px;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #e5e7eb;
}

.file-item:hover {
  background-color: #eff6ff;
}

.no-files {
  color: #9ca3af;
  font-style: italic;
}
