
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
}

.status-card {
    width: 100%;

    .status-section {
        margin-bottom: 24px;
    }
}

.button-group {
    display: flex;
    gap: 16px;
}

.date-picker-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}