* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/static/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('/static/Merriweather.ttf') format('truetype');
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    min-height: 60vh;
}

.container-row-fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid;
}

.header #logo {
    background-image: url('/static/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    height: 70px;
}

.header #menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.header #menu a {
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.85;
}

.header #menu a:hover {
    opacity: 1;
}

.header #menu a.link-active, .link-active {
    text-decoration: underline;
    opacity: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 0;
}

.content .centered {
    text-align: center;
    width: 100%;
    display: block;
    margin: 1rem;
}

h1.blog-name a {
    text-decoration: none;
}

h1.post-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

i.post-date.updated {
    opacity: 0.5;
}

article.main-content {
    padding: 3rem 0;
    text-align: justify;
}

article.blog-content {
    text-align: justify;
    margin-bottom: 1rem;
}

article.post-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article.post-content h1, article.post-content h2 {
    margin-top: 1.5rem;
}

article.post-content blockquote {
    margin-left: 2rem;
    border-left: 4px solid;
    padding-left: 1em;
    font-style: italic;
}

article.post-content a {
    text-decoration: none;
}

article.post-content a:hover {
    text-decoration: underline;
}

article.post-content ol, article.post-content ul, article.post-content img {
    max-width: 90%;
    height: auto;
}

article.post-content ol, article.post-content ul {
    padding-left: 2.5rem;
}

article.post-content p > img {
    display: block;
    margin: 0 auto;
}

div.postlist_item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: -10px;
    align-items: center;
}

.post-content#posts {
    gap: 0;
}

div.bloginfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    border-bottom: 1px solid;
    padding: 1.5rem;
}

footer.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    font-family: "Merriweather";
    border-top: 1px solid;
    padding: 2rem 0;
    color: #757575;
}

footer.blog.footer {
    gap: 3px;
}

.footer a {
    text-decoration: none;
    color: #757575;
    transition: 0.3s;
}

.footer a:hover {
    text-decoration: underline;
    color: #fff;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.small-gap {
    gap: 5px;
}

.medium-gap {
    gap: 1rem;
}

.big-gap {
    gap: 2rem;
}

.to-right {
    justify-content: right;
}

.to-left {
    justify-content: left;
}

.to-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

p.column {
    display: flex;
    flex-direction: column;
}

i.caption {
    display: block;
    text-align: center;
}

.discover_post {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#like {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .container {
        width: 80% !important;
    }

    .header #logo {
        width: 245px !important;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header #menu {
        margin-top: 1rem;
        gap: 1rem !important;
    }

    article.post-content {
        line-height: 23px !important;
    }
        
    footer.footer {
        flex-direction: column !important;
    }

    .discover_post {
        flex-direction: column !important;
        gap: unset !important;
    }
}
