/* You can add global styles to this file, and also import other style files */

@import "@synerty/peek-plugin-base-js/src/styles/ant_design";
@import "src/variables";
@import "styles/ant-tab-fix";

:root {
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
    --safe-area-left: env(safe-area-inset-left);
    --safe-area-right: env(safe-area-inset-right);
}

html,
body {
    margin: 0;
    background: $background-color;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
    color: $font-color-primary;
    font-size: $font-size;
    line-height: 1.5;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: inherit;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    box-sizing: border-box;
    margin: 0px;
    font: inherit;
    padding: 0px;
    border: none;
}

i {
    font-size: 24px;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/Poppins-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/Poppins-Medium.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
