body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-color: #f9fdfb;
    /*background-color: #000; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px 圆角 */
    margin: 2px;
    padding: 3px;
    min-width: 320px;
    min-height: 180px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.root_container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.container{
    position: relative;
    /*width: 100%;
    height: 100%;*/
    display: flex;

}

.container_center {
    position: relative;
    /*width: 100%;
    height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loading_animation {
    position: absolute;

    width: 20vw; /* 初始大小 */
    height: 20vw;
    background-image: url('favicon.ico');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: expand 1.5s ease-in-out forwards;
}

.screen{
    overflow: auto;
}

.screen_li{
    white-space: nowrap;
    word-wrap: break-word;
}

@keyframes expand {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    10% {
        opacity: 1;
        transform: scale(0.5);
    }
    70% {
        opacity: 1;
        transform: scale(10); /* 放大到足够覆盖整个屏幕 */
    }
    99% {
        opacity: 0;
        filter: blur(5px);
        transform: scale(12);
    }
    100% {
        display: none;
    }
}

.ui_show {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.ui_hide {
    opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.align-center-container{
    display: flex;
    align-items: center;
}
.align-right-container{
    justify-content: right;
    text-align: right;
}

.icon-container{
    width: 3em;
}

.window-size{
    max-width: 960px;
    max-height: 960px;
}

.vertical-center{
    margin: 0 auto;
}

.align-bottom{
    position: absolute;
    bottom: 15px;
    margin-top: auto;
}

.vertical-container{
    position: relative;
}

.no-drag {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;    /* Internet Explorer/Edge */
    user-select: none;        /* Standard syntax */
}

.block{
    display: block;
}

.vdisplay{
    margin: 0 auto;
    max-height: 880px;
    cursor: pointer;
    object-fit: contain;
}

.multiline{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
