@import "@synerty/peek-plugin-base-js/src/styles/_variables";
@import "src/variables";

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.button-container {
    display: flex;
    gap: $general_padding_1;
    margin-top: $general_margin_2;
}

::ng-deep {
    .ant-card {
        margin-bottom: $general_margin_2;
    }

    .ant-table-thead > tr > th {
        background-color: $general_background_color;
        font-weight: $bold;
    }

    .ant-input-number {
        width: 100%;
    }
}
