[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "data_finance"
description = "Tá»± há»c"
version = "1.0.0"
readme = "README.md"
requires-python = ">=3.7"
dependencies = [
                "requests",
                "pandas",
                "numpy",
                "datetime",
                ]