@import "src/variables";
@import "src/components";

:host {
  .unknown-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-image {
      width: 252px;
      height: 294px;
      margin-top: 80px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .page-title {
      font-size: 20px;
      font-weight: $bold;
      margin-top: 40px;
    }

    .page-description {
      color: $font-color-secondary;
      margin-top: 8px;
    }

    .button-link {
      @extend %primary-button;
      background: $primary-color;
      color: #fff;
      max-width: 160px;
      margin-top: 40px;
    }
  }
}
