@import "src/variables";

.slow-network {
  color: orange;
}
:host {
  .peek-header-component {
    background: $primary-color;
    color: #fff;
    box-shadow: $box-shadow;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: calc(64px + var(--safe-area-top));
    min-height: $header-height;
    padding-top: var(--safe-area-top);

    .back-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 64px;
    }

    .header-title {
      border-left: 1px white solid;
      display: flex;
      align-items: center;
      padding-left: 8px;
      height: 100%;
      font-weight: $semi-bold;
      text-align: center;
      flex: 1;
      font-size: calc(1rem + 2px);
    }

    .buttons {
      display: flex;
      height: 100%;

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 64px;

        .count {
          padding: 4px 8px;
        }
      }
    }
  }
}
