@import "src/variables";
@import "@synerty/peek-plugin-base-js/src/styles/_variables";

:host {
    display: flex;
    flex-direction: column;
}

.editor-div {
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 142px);
    margin-top: $general_margin_2;
}

.data-div {
    display: flex;
    flex-direction: row;
    margin-left: $general_margin_2;
}

pl-diagram-config-editor-selector-lookup-list {
    min-height: 0;
    overflow-y: auto;
}

pl-diagram-config-editor-selector-lookup-layer-tree {
    min-height: 0;
    overflow-y: auto;
}

pl-diagram-config-editor-selector-tree {
    min-height: 0;
    overflow-y: auto;
}

pl-diagram-config-edit-model-set,
pl-diagram-config-edit-canvas,
pl-diagram-config-edit-lookup-color,
pl-diagram-config-edit-lookup-level,
pl-diagram-config-edit-lookup-layer,
pl-diagram-config-edit-lookup-text-style,
pl-diagram-config-edit-lookup-line-style {
}
