
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
}

.status-card {
    width: 100%;

    .status-section {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    nz-descriptions-item {
        padding: 16px;
    }
}