@import "@synerty/peek-plugin-base-js/src/styles/_variables";
@import "src/variables";

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $general_padding_2;
}

.edit-card {
    width: 100%;
}

.button-group {
    display: flex;
    gap: $general_padding_1;
    margin-top: $general_margin_2;
}

nz-form-item {
    margin-bottom: $general_margin_1;
}

.table-container {
    margin-bottom: $general_margin_2;
}
