[project]
name = "tfbench"
version = "1.0.0"
description = "Evaluating Program Semantics Reasoning with Type Inference in System F"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "anthropic==0.49.0",
    "dacite>=1.8.1",
    "datasets>=4.0.0",
    "deprecated>=1.2.18",
    "dotenv>=0.9.9",
    "fire==0.5.0",
    "funcy==2.0",
    "funcy-chain==0.2.0",
    "google-genai==1.31.0",
    "hypothesis>=6.98.6",
    "markdown-to-json==2.1.2",
    "matplotlib>=3.8.3",
    "numpy>=1.26.4",
    "ollama==0.5.3",
    "openai==1.99.9",
    "orjson>=3.11.3",
    "orjsonl>=1.0.0",
    "pokepalette>=0.0.6",
    "pyarrow>=21.0.0",
    "pydantic>=2.11.7",
    "pytest>=8.0.0",
    "python-dotenv==1.0.1",
    "requests==2.32.3",
    "returns[compatible-mypy]>=0.26.0",
    "seaborn==0.13.2",
    "tabulate>=0.9.0",
    "tenacity>=9.1.2",
    "tiktoken==0.7.0",
    "tqdm>=4.66.2",
    "transformers[torch]>=4.55.4",
    "tree-sitter==0.22.3",
    "tree-sitter-haskell==0.21.0",
    "types-deprecated>=1.2.15.20250304",
    "types-requests>=2.31.0",
]

[build-system]
requires = ["uv_build>=0.8.10,<0.9.0"]
build-backend = "uv_build"

[tool.pylint.messages_control]
disable = [
    "raw-checker-failed",
    "bad-inline-option",
    "locally-disabled",
    "file-ignored",
    "suppressed-message",
    "useless-suppression",
    "deprecated-pragma",
    "use-symbolic-message-instead",
    "logging-fstring-interpolation",
    "unused-import",
    "ungrouped-imports",
    "subprocess-run-check",
    "too-many-instance-attributes",
    "missing-module-docstring",
    "unnecessary-ellipsis",          # pylint cannot work with typed Protocol,
    "too-many-arguments",
    "too-many-locals",
    "too-many-positional-arguments",
    "too-many-statements",
    "unspecified-encoding",
    "missing-class-docstring",
    "too-few-public-methods",        # LM only have 1 public method
]
fail-under = 9
max-line-length = 120

[tool.pylint]
extension-pkg-whitelist = [
    "orjson", # https://github.com/pylint-dev/pylint/issues/9762
]


[tool.pylint.typecheck]
generated-members = ["cv2.*", "skimage.metrics.*"]

[tool.mypy]
python_version = "3.12"
warn_return_any = true
warn_unused_configs = true
ignore_missing_imports = true
check_untyped_defs = true
allow_redefinition = false
ignore_errors = false
implicit_reexport = false
local_partial_types = true
no_implicit_optional = true
strict_equality = true
strict_optional = true
warn_no_return = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_ignores = false
plugins = ["returns.contrib.mypy.returns_plugin"]

[tool.ruff]
exclude = ["tests/", "plots/"]

[dependency-groups]
dev = [
    "pytest-cov>=6.2.1",
    "pytest-xdist>=3.8.0",
]
