@import "src/variables";
@import "@synerty/peek-plugin-base-js/src/styles/_variables";

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    .settings-card {
        min-height: 0;
        overflow-y: auto;
        min-width: 600px;
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title-buttons {
                display: flex;
                gap: $general_padding_1;
            }
        }

        .form-container {
            margin-top: $general_margin_2;

            nz-form-item {
                margin-bottom: $general_margin_2;
            }
        }
    }
}

nz-form-label {
    min-width: 220px;
}
