[tryton]
gnuhealth_version=5.0.0
trytond_version=7.0
trytond_smaller=7.1
depends_trytond:
    trytond-account
    trytond-account-invoice
    trytond-account-invoice-stock
    trytond-account-product
    trytond-company
    trytond-country
    trytond-currency
    trytond-party
    trytond-product
    trytond-purchase
    trytond-purchase-request
    trytond-stock
    trytond-stock-lot
    trytond-stock-supply
    proteus
depends_gnuhealth:
    gnuhealth-archives
    gnuhealth-caldav
    gnuhealth-calendar
    gnuhealth-contact-tracing
    gnuhealth-crypto
    gnuhealth-crypto-lab
    # put below as version differs
    # gnuhealth-dentistry
    gnuhealth-disability
    gnuhealth-ems
    gnuhealth-federation
    gnuhealth-genetics
    gnuhealth-genetics-uniprot
    gnuhealth-gyneco
    gnuhealth-history
    gnuhealth-icd10
    gnuhealth-icd10pcs
    gnuhealth-icd11
    gnuhealth-icd9procs
    gnuhealth-icpm
    gnuhealth-icu
    gnuhealth-imaging
    gnuhealth-imaging-worklist
    gnuhealth-inpatient
    gnuhealth-inpatient-calendar
    gnuhealth-insurance
    gnuhealth-iss
    gnuhealth-lab
    gnuhealth-lifestyle
    gnuhealth-mdg6
    gnuhealth-ntd
    gnuhealth-ntd-chagas
    gnuhealth-ntd-dengue
    gnuhealth-nursing
    gnuhealth-ophthalmology
    gnuhealth-orthanc
    gnuhealth-pediatrics
    gnuhealth-pediatrics-growth-charts
    gnuhealth-pediatrics-growth-charts-who
    gnuhealth-qrcodes
    gnuhealth-reporting
    gnuhealth-services
    gnuhealth-services-imaging
    gnuhealth-services-lab
    gnuhealth-socioeconomics
    gnuhealth-stock
    gnuhealth-stock-inpatient
    gnuhealth-stock-nursing
    gnuhealth-stock-surgery
    gnuhealth-surgery
    gnuhealth-surgery-protocols
    gnuhealth-webdav3-server
    gnuhealth-who-essential-medicines
depends_pip:
    psycopg2
    psycopg2cffi
    gnuhealth-dentistry==5.0.2
    pycountry
