#NavLogo {
	display: inline-block;
	max-width: 30%;
	margin-top: -30px;
	margin-left: -10px;
}
#NavLogoText {
	display: inline-block;
	text-decoration-color: white;
}
#repo_sel {
	max-width: 50%;
}