@import "src/variables";

:host {
  .config-page {
    padding: 0 20px;

    .page-title {
      font-size: 20px;
      margin: 20px 0 0 0;
      font-weight: $bold;
    }

    .page-card {
      margin: 20px auto 0 auto;
      background: $container-background-color;
      border-radius: 12px;
      padding: 0 20px;
      box-shadow: $box-shadow;
      max-width: 600px;

      > .card-header {
        display: flex;
        align-items: center;
        height: 56px;
        width: 100%;

        > .header-title {
          font-weight: $bold;
          text-transform: capitalize;
          text-align: left;
          flex: 1;
          font-size: 15px;
        }
      }

      > .card-row {
        display: flex;
        align-items: center;
        border-top: 1px solid $border-color;
        height: 56px;
        color: $font-color-primary;

        .value {
          flex: 1;
        }

        .end-value {
          > i {
            color: $primary-color;
            font-size: 20px;
          }
        }
      }
    }
  }
}
