@import "src/variables";

:host {
    .toolbar {
        display: flex;
        align-items: center;
        position: absolute;
        top: 8px;
        left: 8px;

        .toolbar-buttons {
            display: flex;
            align-items: center;
            border-radius: 2px;
            overflow: hidden;
            border: 0;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffffcf;
                min-width: 56px;
                min-height: 40px;
                border: 1px solid $border-color;

                > * {
                    font-size: 20px;
                    color: $font-color-primary;
                    fill: $font-color-primary;
                }
            }

            button[disabled],
            button.disabled {
                background: $disabled-background-color;

                > * {
                    color: $disabled-color;
                    fill: $disabled-color;
                }
            }

            button.active {
                background: $primary-color;

                > * {
                    color: #fff;
                    fill: #fff;
                }
            }
        }

        .button-group-spacer {
            margin-right: 8px;
        }
    }
}
