@import "src/variables";

:host {
  .unknown-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-image {
      width: 252px;
      height: 294px;
      margin-top: 80px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .page-title {
      font-size: 20px;
      font-weight: $bold;
      margin-top: 40px;
    }

    .page-description {
      color: $font-color-secondary;
      margin-top: 8px;
    }

    .button-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex: 1;
      height: 100%;
      color: $primary-color;
      background: $primary-color-translucent;
      border-radius: 200px;
      min-height: 48px;
      height: 48px;
      font-weight: $semi-bold;
      max-width: 160px;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
}
